<!DOCKTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="layout.css">  
<title> practest</title>
</head> 

<body>

    <header>
        <h1>The Layout Page</h1>
        <nav>
            <ul>
                <li class="head"><a href="">Home</a></li>
                <li class="head"><a href="">Products</a></li>
                <li class="head"><a href="">Services</a></li>
                <li class="head"><a href="">About</a></li>
                <li class="head"><a href="">Contact</a></li>
            </ul>
        </nav>
    </header>


        <aside>
            <section class="popular-recipes">  
               <h2>Popular Recipes</h2>  
               <ol>
                    <li><a class="left" href="">Yakitori (grilled chicken)</a></li>   
                    <li><a class="left" href="">Tsukune (minced chicken patties)</a></li>  
                    <li><a class="left" href="">Mizutaki (chicken stew)</a></li>
               </ol> 
            </section> 

            <section class="contact-details">
                <figure>
                    <img src="E:/web/webs/lrning/layoutweb/Pomegranate-chicken-LGH-mini-a225fa35-1e18-4cb6-9fd0-b39911530e09-0-1400x919.jpg" >
                    <figcaption> Tasty Chicken pomegranete!</figcaption>
                </figure>
                <a>
                    <h2>Contact</h2>  
                    <p class="contact">Yoko's Kitchen<br />  27 Redchurch Street<br />    Shoreditch<br />    London E2 7DP</p>
                </a>
            </section>
        </aside>
        
    <div id="bd">

        <div id="feature">
            <p>Feature</p>
            <!-- sprites -->
            <a href="E:/web/webs/first web page/orange is the new black web page.html" target="new" class="button" id="first_page"> <P>first file</P></a>
            <a href="C:/Users/HARSHIT GANGWAR/Desktop/exp/New folder/lrn.html" target="new" class="button" id="project"><p> project </p></a>
        </div> 

        <div id="gradient">
            <p>sample text</p>
        </div>

        <div class="column1">
            <p>Column One</p>
        </div>
        <div class="column2">
            <p>Column Two</p>
        </div>
        <div class="column3">
            <p>Column Three</p>
        </div>
    </div>
    

    <footer>
        <center><a href="#top">.^.^.Top.^.^.</a></center>
        <p>&copy: Copyright 2011</p>
    </footer>


</body>