@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    background: white;
}

nav {
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1, 
nav ul {
    font-size: 1.5rem;
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: black;
    text-decoration: none;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 5rem;
    color: white;
}

.home {
    background: linear-gradient(to right top, rgb(0, 225, 255), rgb(6, 122, 189));
}

.project {
    background: linear-gradient(to right top,rgb(255, 157, 0), rgb(255, 81, 0));
}

.contact {
    background: linear-gradient(to right top, rgb(100, 24, 241), rgb(139, 7, 200));
}

.bubble {
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, rgb(0, 225, 255), rgb(6, 122, 189));
    transform: scale(2);
    transition: all 0.5s ease;
}
