* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }

  .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 8px;
  }

  .column {
      flex: 25%;    
      max-width: 25%;
      padding: 0 4px;
  }

  .column img {
      /* expand full upto parent width */
        width: 100%; 
        margin-top: 8px;
        vertical-align: middle;     
        /* for equal spacing b/w images vertically */
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }